/* Reset */

:root {
  font-size: 62.5%;
}

@media screen and (max-width: 1390px) {
  :root {
    font-size: 54%;
  }
}

#mobile {
  display: none;
  opacity: 0;
}

::selection {
  background-color: #bc2b2e;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Preloader */

.preloader-container {
  background: #bc2b2e;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  opacity: 1;
  transition: opacity 1s ease;
}

.preloader-container.page-loaded {
  opacity: 0;
  pointer-events: none;
}

.preloader {
  display: flex;
  flex-flow: column;
}

#preloader-H {
  height: 100px;
}

#preloader-circles {
  max-height: 100px;
  height: 100%;
  width: auto;
  max-width: 100px;
  margin: 20px auto 0 auto;
}

/* Hero section */

.hero-section {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  transform: scale(1);
  filter: none;
  transition: transform 1s ease, opacity 1s ease;
}

.wrapper-hero-animation {
  display: flex;
  justify-content: center;
  align-content: center;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

#hero-animation {
  max-height: 100%;
  min-height: 100%;
}

.hero-layout-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin-top: -100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-basis: auto;
}

.hero-layout-inner {
  position: relative;
  background-color: transparent;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 17.39% 21.73% 21.67%;

}

#hero-layout-inner-dimensions {
  margin: auto;
  max-height: 100vh;
  object-fit: contain;
  visibility: hidden;
}

.leftspace {
  grid-area: leftspace;
}

.rightspace {
  grid-area: rightspace;
}

.topleft {
  grid-area: topleft;
}

.topmiddle {
  grid-area: topmiddle;
}

.topright {
  grid-area: topright;
}

.centerleft {
  grid-area: centerleft;
}

.centermiddle {
  grid-area: centermiddle;
}

.centerright {
  grid-area: centerright;
}

.bottommleft {
  grid-area: bottomleft;
}

.bottommiddle {
  grid-area: bottommiddle;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.bottomright {
  grid-area: bottomright;
}

.hero-layout-inner-grid {
  display: grid;
  grid-template-columns: 17.39% 21.73% auto 21.73% 17.39%;
  grid-template-rows: 30.5% auto 30.5%;
  grid-template-areas:
    "leftspace topleft topmiddle topright rightspace"
    "leftspace centerleft centermiddle centerright rightspace"
    "leftspace bottomleft bottommiddle bottomright rightspace";
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
}

/* Fullscreen Menu */

.fs-menu {
  background: #bc2b2e;
  width: 100%;
  height: 100%;
  color: white;
  position: fixed;
  z-index: 200;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  font-family: quicksand, sans-serif;
  font-weight: 400;
  top: 0;
}

.menu-align-left {
  width: 20%;
  display: flex;
  flex-flow: column;
  text-align: left;
  height: 100%;
  padding-top: 5%;
}

.menu-align-right {
  width: 20%;
  display: flex;
  flex-flow: column;
  text-align: right;
  height: 100%;
  padding-top: 5%;
}

.menu-align-right > a > .fs-menu-item {
  transform-origin: right;
}

.fs-menu > .menu-align-right > a:hover > .fs-menu-item {
  transform: scale(1.1);
  /* border-left: white 5px solid; */
  transition-delay: 0s;
  opacity: 1;
  box-shadow: 40px 0px 0px 1px #bc2b2e, 45px 0px 0px 0px white;
}

.fs-menu.active-menu {
  opacity: 1;
  pointer-events: all;
}

.fs-menu.secondmenu {
  top: 96px;
}

.fs-menu-item {
  list-style: none;
  font-size: 2.8rem;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: left;
  transition-delay: 0.15s;
  opacity: 0.8;
  text-transform: capitalize;
}

.fs-menu > .menu-align-left > a:hover > .fs-menu-item {
  transform: scale(1.1);
  /* border-left: white 5px solid; */
  transition-delay: 0s;
  opacity: 1;
  box-shadow: -40px 0px 0px 1px #bc2b2e, -45px 0px 0px 0px white;
}

.hamburgermenu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 80px;
  height: 80px;
  background: transparent;
  left: 10%;
  top: 20%;
  transform-origin: 0% 50%;
  transition: transform;
  animation: 1s ease 1.5s both menu-in;
  transition: opacity 0.5s ease, color 0.5s ease;
  opacity: 0.8;
  z-index: 100000 !important;
}

.hamburgermenu:hover {
  opacity: 1;
}

.hamburgermenu-control {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
}

.hamburger-line {
  margin-top: 6px;
  margin-bottom: 6px;
  z-index: inherit;
  pointer-events: none;
}

.hamburger-top {
  background: white;
  width: 52px;
  height: 6px;
  transform-origin: left;
  transition: ease-in-out 0.5s all;
}

.hamburger-mid {
  background: white;
  width: 52px;
  height: 6px;
  transform-origin: left;
  transition: ease-in-out 0.5s all;
  transform: scaleX(0.75);
}

.hamburger-bot {
  background: white;
  width: 52px;
  height: 6px;
  transform-origin: left;
  transition: ease-in-out 0.5s all;
}

.hamburgermenu>input:checked~.hamburger-top {
  transform: rotate(45deg);
}

.hamburgermenu>input:checked~.hamburger-mid {
  transform: scaleX(0);
  opacity: 0;
}

.hamburgermenu>input:checked~.hamburger-bot {
  transform: rotate(-45deg);
}

.hamburgermenu>input:checked~.openmenu {
  opacity: 1;
  pointer-events: all;
}

/* Scroll indicator */

.scrollindicator {
  height: 64px;
  margin-top: 24px;
}

.scrollindicator-text {
  font-family: brandon-grotesque, sans-serif;
  font-weight: bold;
  font-size: 1.48rem;
  color: #404040;
  letter-spacing: 0.06em;
  text-rendering: optimizeLegibility;
  margin-top: 110px;
  opacity: 0;
  animation: 2s 3.2s forwards scrollindicator-opacity;
  transition: color 0.3s ease-out;
}


.scrollindicator-container:hover>.scrollindicator-text {
  color: #bc2b2e;
}

@keyframes menu-in {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1)
  }

  ;
}

.scrollindicator-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  animation: 1.5s ease-in-out both infinite scrollindicator;
  transition: opacity 1s 1s ease;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.scrollindicator-container.fade-in {
  visibility: visible;
  opacity: 1;
}

@keyframes scrollindicator {
  0% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(-20px)
  }

  100% {
    transform: translateY(0)
  }
}

@keyframes scrollindicator-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bottomright {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
}

.social_icon {
  color: rgba(255, 255, 255, 0.801);
  font-size: 2.4rem;
  margin-right: 80px;
  margin-bottom: 16px;
  animation: 1s 2s ease-out both socialmediaicons;
  transition: color 0.15s ease;
  cursor: pointer;
}

.social_icon:hover {
  color: white;
}

.socialmediaicons {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

@keyframes socialmediaicons {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.circle {
  position: absolute;
  border: solid 1px #2bbcb5;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: difference;
}

/* Space */

.whitespace {
  height: 4000px;
  position: relative;
  z-index: 0;
  pointer-events: none;
}

/* Top Navigation */

#navbar {
  position: fixed;
  top: 0;
  height: 96px;
  width: 100%;
  background: white;
  z-index: 500;
  transition: transform 1s ease, background-color 1s ease;
  transform: translateY(-96px);
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.15);
}

#navbar.show-navbar {
  transform: translateY(0);
}

.navbar-container {
  max-width: 1400px;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-logo {
  height: 70%;
  padding-left: 15px;
  transition: filter 1s ease, opacity 1s ease;
}

/* Section A - We Are Global */
#section-A {
  height: 100vh;
  width: 100%;
  background: white;
  position: fixed;
  z-index: 101;
  top: 0px;
  opacity: 1;
  transform: translateY(100vh);
  transition: transform 1.2s ease, opacity 1s ease;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.15);
  margin-top: 96px;
}

#section-A.visible-section {
  transform: translateY(0);
}

.hamburgermenu.red {
  top: 0%;
  left: 0%;
  transform: scale(0.5);
}

.hamburgermenu.red>* {
  background: #bc2b2e;
  border-radius: 5px;
}

.hamburgermenu>input:checked ~ * {
  background-color: white;
}

.navline {
  transform-origin: right !important;
}

.container {
  max-width: 1200px;
  height: 100%;
  width: 100%;
  margin: auto;
}

.two-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: blue;
}

.left-column {
  background: white;
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  padding-left: 40px;
}

.right-column {
  background: white;
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
}

#map-animation, #davinci-animation {
  transition: transform 1s 0.1s ease;
  transform: scale(0);
  transform-origin: center;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  pointer-events: none;
}

#davinci-animation {
  opacity: 0.4;
}

.globe-arrow {
  width: 30vh;
  height: auto;
  max-height: 180px;
  margin-bottom: 95px;
}

#section-A.visible-section .two-columns .right-column #map-animation,
#section-B.visible-section .two-columns .right-column #davinci-animation {
  transform: scale(1);
}

.logo-corner {
  width: 256px;
  height: 256px;
  position: absolute;
  opacity: 0.15;
}

.logo-corner-left {
  bottom: 96px;
  left: 0;
}

.logo-corner-right {
  top: 0;
  right: 0;
  transform: rotate(180deg);
}

.textbox {
  width: 600px;
  margin-left: auto;
}

.overline {
  font-family: brandon-grotesque, sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-top: 15vh;
  margin-bottom: 0.5rem;
  color: #bc2b2e;
  font-weight: 900;
  transition: opacity 1.25s 0.5s ease-out;
  opacity: 1;
}

.overline.overline-hidden {
  opacity: 0;
  transition: opacity 0.5s;
}

.section-heading {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 900;
  font-size: 6rem;
  letter-spacing: 0.02rem;
  margin-bottom: 3rem;
  color: #bc2b2e;
  text-rendering: geometricPrecision;
  line-height: 1.15em;
  transition: clip-path 1.5s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  clip-path: inset(0);
}

.section-heading.heading-hidden {
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.4s 0.25s ease;
}

.copy {
  font-family: quicksand, sans-serif;
  font-size: 1.5rem;
  line-height: 1.6em;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  transition: opacity 1s 0.4s, transform 1s 0.4s;
}

.copy.hidden {
  opacity: 0;
  transform: translateY(50px);
}

@media screen and (max-width: 1400px) {
  .logo-corner {
    width: 180px;
    height: 180px;
  }

  .section-A-l-col {
    width: 60%;
  }
}

.breakpoint {
  width: 40px;
  height: 40px;
  background: fuchsia;
  z-index: 100000;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

#section-A-breakpoint {
  top: 33vh;
  left: 0;
}

.hero-section.hidden {
  transform: scale(0.8);
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  .section-A-cols {
    flex-flow: column;
    width: 100%;
    background: white;
  }

  .section-A-l-col,
  .section-A-r-col {
    width: 100%;
    align-items: center;
    text-align: center;
    max-width: 80%;
    padding: 0;
  }

  .textbox {
    margin: 0;
    padding: 0;
    width: 100% !important;
    max-width: 100%;
    transform: translateY(15px);
  }

  .copy {
    width: 100%;
  }

  .section-heading {
    line-height: 1.25em;
    font-size: 3.8rem;
  }

  .overline {
    margin-top: 30px;
  }

  #map-animation {
    margin: 0;
  }

  .globe-arrow {
    height: 80px;
  }
}

.ontop {
  z-index: 500;
}

.play-cursor {
  width: 128px;
  height: 128px;
  background: transparent;
  position: absolute;
  margin-top: -160px;
  margin-left: -64px;
  pointer-events: none;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-cursor-hover {
  background: url('../img/cursorPlayHover.svg') center center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  transition: clip-path 1s ease;
  clip-path: inset(0);
}

.play-cursor-active {
  background: url('../img/cursorPlayActive.png') center center/cover;
  width: 50%;
  height: 50%;
  position: absolute;
  transition: transform 0.5s ease;
  transform: scale(0);
}

/* Other */
.offset {
  height: 10vh;
  width: 100%;
  position: relative;
  background: transparent;
  pointer-events: none;
  visibility: hidden;
}

#noscript {
  color: white;
  font-size: 2rem;
  font-family: monospace;
  text-align: center;
}

#section-B {
    height: 100vh;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 102;
    top: 0px;
    opacity: 1;
    transform: translateY(100vh);
    transition: transform 1.2s ease, opacity 1s ease;
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.15);
    margin-top: 96px;
}

.hidden {
  opacity: 0 !important;
}

.visible-section {
  transform: translateY(0) !important;
}

#navbar.second-menu-open {
  background: #bc2b2e;
}

#navbar.second-menu-open > .navbar-container > #navbar-logo {
  filter: brightness(0);
  opacity: 0.35;
}

#davinci-animation {
  align-self: center;
  justify-self: center;
  margin-top: auto;
  padding-bottom: 30vh;
}

/* Section C - We are a network */

#section-C {
  height: 100vh;
  width: 100%;
  background: white;
  position: fixed;
  z-index: 102;
  top: 0px;
  opacity: 1;
  transform: translateY(100vh);
  transition: transform 1.2s ease, opacity 1s ease;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.15);
  margin-top: 96px;
}

#section-C.visible-section {
  transform: translateY(0);
}

/* Mobile */
@media only screen and (max-width: 768px) {
  :root {
    font-size: 52%;
  }
  
  #mobile {
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 1;
    height: auto;
    width: auto;
  }

  #desktop {
    display: none;
    visibility: hidden;
  }

  #desktop > * {
    display: none;
    visibility: hidden;
  }

  .mobile-hero {
    background: linear-gradient(#ec2a2d, rgb(70, 0, 0));
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }

  #particles-js {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top:0;
    pointer-events: none;
    overflow: hidden;
  }

  .mobile-H {
    display: flex;
    width: 100%;
    height: 100vh;
    background: transparent;
    opacity: 1;
    position: absolute;
    top:0;
    z-index: 2;
    pointer-events: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .mobile-H-mid {
    height: 600px;
    width: 100%;
    background: transparent;
  }

  .mobile-H-top, .mobile-H-bot {
    background: white;
    width: 38.4%;
    flex-grow: 1;
    height: 100%;
  }

  .mobile-H-top {
    border-radius:0 0 18.618% 18.618%;
  }

  .mobile-H-bot {
    border-radius: 18.618% 18.618% 0 0;
  }

  #SVGTitleStroke {
    height: 128px;
    display: block;
    margin: auto;
    position: relative;
    top: 12%;
    left: 0;
    clip-path: inset(0 0% 0 0);
    animation: hideTitleStroke 2s 0.7s ease-out forwards;
    padding: 2%;
    z-index: 1;
  }

  #SVGTitleFill {
    height: 127px;
    display: block;
    margin: auto;
    position: relative;
    top: calc(-128px + 12%);
    left: 0;
    clip-path: inset(0 100% 0 0);
    animation: revealTitleFill 2s 0.7s ease-out forwards;
    padding: 2%;
    z-index: 2; 
  }

  #SVGSubtitle {
    position: relative;
    width: 80%;
    display: block;
    margin: auto;
    bottom: 20%;
    max-width: 380px;
  }

  @keyframes revealTitleFill {
    0% {clip-path: inset(0 100% 0 0);}
    100% {clip-path: inset(0 0% 0 0);}
  }

  @keyframes hideTitleStroke {
    0% {clip-path: inset(0 0 0 0);}
    100% {clip-path: inset(0 0 0 100%);}
  }

  .hamburgermenu.mobile {
    position: absolute;
    left: auto;
    top: 10%;
    right: 4%;
    opacity: 0.75;
    z-index: 3;
    pointer-events: all;
    transition: opacity 0.5s ease;
  }

  .hamburgermenu.mobile.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .hamburgermenu.mobile * {
    background-color: white;
  }
  
  .margin-top-mobile {
    height: 100vh;
  }

  .section-mobile {
    padding-bottom: 80px;
    padding-top: 80px;
    background: white;
    box-shadow: 0 -16px 128px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 11;
    display: flex;
    justify-content: center;
    flex-flow: column;

  }

  .section-mobile.first {
    position: relative;
    z-index: 10;
  }

  .fs-menu.mobile {
    opacity: 0;
    pointer-events: none;
  }

  .fs-menu.mobile.active-menu {
    opacity: 1;
    pointer-events: all;
    z-index: 999;
  }

  .fs-menu-item:active {
    color: white;
    opacity: 1;
    transition: none;
  }

  .menu-align-center {
    width: 80%;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    height: 100%;
  }

  .mobile-visit-main-site {
    margin-top: 64px;
  }

  .mobile-scrollindicator-container {
    width: 100%;
    height: 150px;
    background: transparent;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .mobile-scrollindicator-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
    animation: 1.5s ease-in-out both infinite scrollindicator;
  }

  .scrollindicator-text.center {
    margin: auto;
    margin-top: 72px;
  }

  .m-overline {
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin-bottom: 0.5rem;
    color: #bc2b2e;
    font-weight: 900;
    transition: opacity 1.25s 0.5s ease-out;
    opacity: 1;
    text-align: center;
  }
  
  .m-heading {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 900;
    font-size: 4.3rem;
    letter-spacing: 0.02rem;
    margin-bottom: 3.2rem;
    color: #bc2b2e;
    text-rendering: geometricPrecision;
    line-height: 1.15em;
    text-align: center;
  }

  .m-copy {
    font-family: quicksand, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6em;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    transition: opacity 1s 0.4s, transform 1s 0.4s;
    padding: 10vw;
    margin-top: 0;
    margin-bottom: 0;
  }

  .m-video {
    padding: 0;
    margin: 0;
    width: 100%;
    transform: scale(1.16);
  }
} 