:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}

.preloader_wrapper {
  background: #bc2b2e;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0 ;
  right: 0;
  z-index: 999;
}

.preloader {
  display: flex;
  flex-flow: column;
}

#preloader_H {
  height: 100px;
}

#preloader_circles {
  height: 100px;
  margin-top: 20px;
}


.hero_section {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
}

.wrapper_hero_animation {
  display: flex;
  justify-content: center;
  align-content: center;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.hero_animation {
  max-height: 100%;
}

#section_A {
  width: 100vw;
  height: 600px;
  margin-top: 100vh;
}

.hero_layout_wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin-top: -100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-basis: auto;
}

.hero_layout_container {
  position: relative;
  z-index: 2;
  background-color: transparent;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 17.39% 21.73% 21.67% ;

}

#hero_layout_container_dimensions {
  margin: auto;
  max-height: 100vh;
  object-fit: contain;
  visibility: hidden;
}

.leftspace { grid-area: leftspace;}

.rightspace { grid-area: rightspace;}

.topleft { grid-area: topleft;}

.topmiddle { grid-area: topmiddle;}

.topright { grid-area: topright;}

.centerleft { grid-area: centerleft;}

.centermiddle { grid-area: centermiddle;}

.centerright { grid-area: centerright;}

.bottommleft { grid-area: bottomleft;}

.bottommiddle {
  grid-area: bottommiddle;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.bottomright { grid-area: bottomright;}

.hero_layout_grid {
  display: grid;
  grid-template-columns: 17.39% 21.73% auto 21.73% 17.39%;
  grid-template-rows: 30.5% auto 30.5%;
  grid-template-areas:
                    "leftspace topleft topmiddle topright rightspace"
                    "leftspace centerleft centermiddle centerright rightspace"
                    "leftspace bottomleft bottommiddle bottomright rightspace";
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 5
}

/* .hero_layout_grid :nth-child(odd) {
  background-color: rgba(255, 153, 0, 0.418);
}

.hero_layout_grid :nth-child(even) {
  background-color: rgba(0, 255, 242, 0.5)
} */

.hamburgermenu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 80px;
  height: 80px;
  background: transparent;
  left: 10%;
  top: 20%;
  transform-origin: 0% 50%;
  transition: transform;
  animation: 1s ease 1.5s both menu-in;
}

#hamburgermenu_control {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.hamburger_line {
  margin-top: 6px;
  margin-bottom: 6px;
}

.hamburger_top {
  background: white;
  width: 52px;
  height: 6px;
  transform-origin: left;
  transition: ease-in-out 0.5s all;
}

.hamburger_mid {
  background: white;
  width: 52px;
  height: 6px;
  transform-origin: left;
  transition: ease-in-out 0.5s all;
  transform:scaleX(0.75);
}

.hamburger_bot {
  background: white;
  width: 52px;
  height: 6px;
  transform-origin: left;
  transition: ease-in-out 0.5s all;
}

.hamburgermenu > input:checked ~ .hamburger_top {
  transform: rotate(45deg);
} 

.hamburgermenu > input:checked ~ .hamburger_mid {
  transform: scaleX(0);
  opacity: 0;
} 

.hamburgermenu > input:checked ~ .hamburger_bot {
  transform: rotate(-45deg);
} 

#scrollindicator {
  height: 64px;
  margin-top: 24px;
}

#scrollindicator_text {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: bold;
  font-size: 1.48rem;
  color: #404040;
  letter-spacing: 0.06em;
  text-rendering: optimizeLegibility;
  margin-top: 110px;
  opacity: 0;
  animation: 2s 3s forwards scrollindicator-opacity;
}

@keyframes menu-in {
  from {transform: scaleX(0);}
  to {transform: scaleX(1)};
}

.scrollindicator_container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  animation: 1s ease-in-out both infinite scrollindicator; 
}

@keyframes scrollindicator {
 0% {transform: translateY(0)}
 50% {transform: translateY(-20px)}
 100% {transform: translateY(0)}
}

@keyframes scrollindicator-opacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.bottomright {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
}

.social_icon {
  color: white;
  font-size:2.4rem;
  margin-right: 80px;
  margin-bottom: 16px;
  animation: 1s 2s ease-out both socialmediaicons ;
  transition: text-shadow 0.3s ease-out;
  cursor: pointer;
}

.social_icon:hover {
  text-shadow: 1px 2px 15px white;
}
.socialmediaicons {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

@keyframes socialmediaicons {
  0% {opacity: 0; transform: translateX(20px);}
  100% {opacity: 1; transform: translateX(0);}
} 